*.user
*.o
*.obj
*.exe
*.pdb
*.ilk
*.log
*.moc
*.rcc
*.vcxproj
*.sln
*.suo
*.user
*.build
*.d
*.ilk
*.manifest
*.idb
*.ipch
debug/
release/
build/
cmake-build-*/
*.db
*.sqlite
*.swp
*.bak
*~
.DS_Store